@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
body {
  font-family: "Goldman", cursive !important;
}

.whiteText {
  color: white !important;
}

/* Navbar classes */

.navLogo {
  width: 3rem;
  height: 3rem;
  color: white;
}

.navIcons {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

/* Navbar classes */

.salePic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.footerLogo {
  width: 2rem;
  height: 2rem;
  color: Black;
}

.footerBrand {
  font-size: 0.8rem;
}

.footerContainer {
  background-color: aqua;
}

.corporation {
  font-size: 0.5rem;
  font-weight: 200;
}
.footerLink {
  font-size: 0.65rem;
  font-weight: 200;
}

.addToCart {
  color: white;
  border-radius: 60px;
}
.overflowHidden {
  overflow: hidden;
}

.sidebar-outer {
  height: calc(100vh - 24px);
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delete-badge {
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.upload-preview {
  object-fit: center;
  cursor: pointer;
}
.image-all-products {
  height: 5rem;
  width: 5rem;
}
.product-list-image {
  width: 8rem;
  height: 8rem;
  object-fit: scale-down;
}

.all-product-card {
  height: 21rem;
}
.line-clamp-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.line-clamp-text {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.carouselImage {
  height: 20rem;
  width: 20rem;
  object-fit: scale-down;
}
