.whiteText {
  color: white !important;
}

/* Navbar classes */

.navLogo {
  width: 4rem;
  height: 4rem;
  color: white;
}

.navIcons {
  width: 2rem;
  height: 2rem;
  color: white;
}

/* Navbar classes */
